.navbar, .btn-a{
background: #EB87FF;
background: -moz-linear-gradient(45deg, #EB87FF 0%, #599FA4 50%, #FF5C93 100%);
background: -webkit-linear-gradient(45deg, #EB87FF 0%, #599FA4 50%, #FF5C93 100%);
background: linear-gradient(45deg, #EB87FF 0%, #599FA4 50%, #FF5C93 100%);
}
.imgCouverture{
    height: 500px;
    object-fit: fill;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    border: 2px solid rgb(241, 238, 46);
    
}
.txth2{
    color: rgb(238, 198, 108);
}
.card{
    background: cornsilk;
}
.card:hover{
    background: #FFF9C5;
    background: -moz-linear-gradient(45deg, #FFF9C5 0%, #ECFFA6 50%, #C5481A 100%);
    background: -webkit-linear-gradient(45deg, #FFF9C5 0%, #ECFFA6 50%, #C5481A 100%);
    background: linear-gradient(45deg, #FFF9C5 0%, #ECFFA6 50%, #C5481A 100%);
}

h1, .btn{
color: #EDFF4F;
color: -moz-linear-gradient(45deg, #EDFF4F 0%, #29FFFF 50%, #33C541 100%);
color: -webkit-linear-gradient(45deg, #EDFF4F 0%, #29FFFF 50%, #33C541 100%);
color: linear-gradient(45deg, #EDFF4F 0%, #29FFFF 50%, #33C541 100%);
}

.btn-danger{
    color: crimson;
}

.images{
    width: 80px;
}

.btn-danger{
    position: relative;
    width: 25px;
    height: 25px;
}
.icon{
    position: absolute;
    left: 12%;
    right: 5%;
    top: 12%;
    bottom: 5%;
}
#panierVide{
    color: red;
}
.az{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}
.a{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    width: 90%;
    height: 500px;
    object-fit: fill;
}
.aa{
    background: #699CD1;
background: -moz-linear-gradient(left, #699CD1 0%, #5FA4C2 17%, #8ACBDB 100%);
background: -webkit-linear-gradient(left, #699CD1 0%, #5FA4C2 17%, #8ACBDB 100%);
background: linear-gradient(to right, #699CD1 0%, #5FA4C2 17%, #8ACBDB 100%);
}
